<h1> Meanwhile at Temple</h1>
<h2> With J.D., Mike, and Bill</h2>
<div class='row'>
<div class='col-md-6 col-md-offset-3'>

<p class='first_p'>
  What happens when a few guys at a coffee shop start talking about movies, comics, games, music, life, and other important stuff?
</p>
<p>
    <b>Meanwhile at Temple</b> happens.
</p>
<p>
  Join J.D., Mike, and Bill as we talk about whatever topic is on our mind at the moment.  We're a few life-long nerds who are passionate about the things we enjoy and can't wait to tell you about them on our podcast.
</p>
<div class="cta-buttons center">
  <a class="btn btn-primary btn-lg" href="https://itunes.apple.com/us/podcast/meanwhile-at-temple/id1284777556#" target="_blank" role="button" onClick="ga('send', 'event', 'Subscribe', 'Click', 'iTunes');">Subscribe on iTunes</a>
  <a class="btn btn-primary btn-lg" href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Ioqhv43se72ljq4nhlpkkfx2dce?t%3DMeanwhile_at_Temple%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16" target="_blank" role="button" onClick="ga('send', 'event', 'Subscribe', 'Click', 'Google Play');">Subscribe on Google Play</a>
<a class="btn btn-primary btn-lg" href="http://subscribeonandroid.com/www.meanwhileattemple.com/episodes.mp3.rss" title="Subscribe on Android" onClick="ga('send', 'event', 'Subscribe', 'Click', 'Android');">Subscribe on Android</a>
</div>
</div>
</div>
