{% if post %}
{% elsif page %}
  {% assign post = page %}
{% endif %}
<div id="{{ post.id }}" class="active">
  {% include post_header.html %}

Share this
  <a href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook" onClick="ga('send', 'event', 'Share', 'Click', 'Facebook');"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  <a href="https://twitter.com/intent/tweet" class='twitter-share-button' data-url="{{ site.url }}{{ post.url }}" data-text="{{ post.title }}" onClick="ga('send', 'event', 'Share', 'Click', 'Twitter');"><i class="fa fa-twitter-square twitter-share-button" aria-hidden="true"></i></a>

  {{ post.content }}

    {% if post.audio %}
      {% for file in post.audio %}
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Listen to .{{ file.first }}</p>
        <audio controls="controls" src="{{ site | download_url_with_fallback }}/{{ file.last }}">
          Your browser does not support the <code>audio</code> element.
        </audio>
        <a class="btn btn-primary btn-sm" href="{{ site | download_url_with_fallback }}/{{ file.last }}" onClick="ga('send', 'event', 'Download', 'Click', '{{ file.last }}');">Download .{{ file.first }} ({{ file.last | file_size:'./' | string_of_size }})</a>
      </div>
      </div>
      {% endfor %}
    {% endif %}
</div>
